{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h2 class="mdc-typography--headline3">Hi {{ app.user.username }}</h2>
        {% include 'components/card.html.twig' with { 'title': 'Your identifier', 'text': app.user.uuid } only %}
    </div>
{% endblock body %}
